# Ignore build artifacts
/build/
*.o
*.out
*.exe

.npm

# Build output
.vitepress/dist/
dist/
cache/


# Ignore editor/IDE files
.vscode/
*.swp
*.swo
.DS_Store
paul-a-plus-plus/
a-plus-plus

node_modules/

# Ignore test artifacts
/tests/*.out
/tests/*.o

**/*.a++